## Anwser of 4-5-6-7 question is in this code.

In [2]:
import pandas as pd

In [35]:
df = pd.read_csv("https://raw.githubusercontent.com/tarikkranda/pi_datasets/main/country_vaccination_stats.csv");
df.to_csv("./sqlberk.csv",index = False)
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

### Anwser of Question 4

In [4]:
df["daily_vaccinations"].fillna(0,inplace=True)

In [5]:
df[df["daily_vaccinations"].isna()]

Empty DataFrame
Columns: [country, date, daily_vaccinations, vaccines]
Index: []

In [6]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 0.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [7]:
df["country"].value_counts()

Canada                  43
Wales                   43
Northern Ireland        43
Scotland                43
Israel                  38
United States           37
China                   37
United Kingdom          36
England                 36
Mexico                  33
Chile                   33
Lithuania               32
Italy                   30
Czechia                 30
Russia                  30
Switzerland             30
Denmark                 30
Romania                 29
Germany                 29
Estonia                 29
Norway                  29
Latvia                  29
Bahrain                 29
Portugal                29
Greece                  29
Oman                    28
Poland                  28
Malta                   28
Argentina               28
Bulgaria                28
Hungary                 28
Croatia                 27
Iceland                 27
Luxembourg              26
Costa Rica              26
Finland                 26
Belgium                 26
Ireland                 25
Slovenia                22
Sweden                  22
France                  22
Spain                   22
United Arab Emirates    21
Austria                 20
Serbia                  18
Slovakia                18
Cyprus                  17
Netherlands             17
Gibraltar               15
Seychelles              15
Indonesia               14
Turkey                  13
Singapore               12
Saudi Arabia            12
India                   11
Brazil                  10
Panama                   6
Isle of Man              5
Ecuador                  2
Kuwait                   1
Name: country, dtype: int64

### Answer Of Question 5

In [8]:
df.groupby("country").median("daily_vaccinations").sort_values("daily_vaccinations",ascending=False).head(3)

               daily_vaccinations
country
United States            378253.0
China                    276786.0
India                    173922.0

## Answer of Question 6

In [9]:
df[df["date"]=="1/6/2021"]["daily_vaccinations"].sum()

1466568.0

### Answer Of Question 7

```SQL
UPDATE sqlwork  
SET daily_vaccinations = sqlwork2.median_daily_vaccinations
FROM sqlwork
INNER JOIN (SELECT country, MEDIAN(daily_vaccinations) AS median_daily_vaccinations from sqlwork GROUP BY country) as sqlwork2 ON sqlwork.country = sqlwork2.country  
WHERE IsNumeric(sqlwork.daily_vaccinations)=0;
```

- It joins the table sqlwork and sqlwork2 on the same countries and update daily vaccinations values to sqlwork2s median values where Daily vaccinations are missing.